body{
    background-color: #111a28;
}
.active{
    color: white;
    font-weight:400;
    font-size: 22px;
    margin-left: 5px;
}
.color{
    color: white;
}
ul{
    padding-left: 0px;
    list-style: none;
}
i{
    font-size: 20px;
    margin-top: 15px;
}
.line:after {
    align-items: center;
    content: "";
    position: absolute;
    height: 30%;
    width: 2px;
    margin: 6px 9px;
    background: hsla(0,0%,100%,.85);
    z-index: -1;
}
.title p {
    transform: rotate(-90deg);
}
.title p{
    margin-top: 200px;
}
.title p {
    padding: 5px 10px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: #1d293a;
    transform-origin: 5%;
    border-radius: 4px;
}